<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2.2.dtd'>

<web-app>

  <servlet>
    <servlet-name>pController</servlet-name>
    <servlet-class>custom.servlets.PControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>pController</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  

  
</web-app>